<div class="log">
  <h1>About</h1>
  <p class="lead">weeselect is a MEAN stack app created just for the purpose of doing it. Also because just clicking random on champ select wasn't fun at all. </p>
  <p class="lead"> Champion's builds are currently based on the list from <a href="http://champion.gg" target="_blank">champion.gg</a> posted <a href="http://en.reddit.com/r/leagueoflegends/comments/34mlpq/item_sets_updated_for_58_championgg/" target="_blank">by Zenitholt on reddit</a>. However, the plan is to have them updated automagically from champion.gg on a regular basis... once I get motivation for getting the parsing part done (eh...).</p>
  <p class="lead">If you find a bug or want to help improve the site, you can do it on <a href="http://github.com/datyayu/weeselect/" target="_blank">github</a> or tell me on <a href="http://twitter.com/datyayu" target="_blank">twitter<a/> or my <a href="mailto:aoitsu3@gmail.com">email</a>.</p>
  <p class="lead"> Image ownership and all that stuff are from its creator. Or rito. Or both. Or neither.</p>
  <p class="lead">╰(゜益゜)╯ <-- <em>[THIS EMOJI REPRESENTS ALL THE LEGAL SHIT SO I WON'T GET SUED] </em></p>
</div>
