<div class="log">
  <h1>Change log</h1>
  <p class="lead">[2015.04.25 @ 19:35] :: <i>Fixed all layouts. Ready for scripts</i></p>
  <p class="lead">[2015.04.25 @ 15:14] :: <i>Fixed styles for non-mobile viewports at landing page</i></p>
  <p class="lead">[2015.04.25 @ 15:14] :: <i>Added images and routing</i></p>
  <p class="lead">[2015.04.24 @ 13:44] :: <i>Fixed container-based layouts</i></p>
  <p class="lead">[2015.04.24 @ 13:11] :: <i>Added home template</i></p>
  <p class="lead">[2015.04.24 @ 11:03] :: <i>Added champion pool / roll template</i></p>
  <p class="lead">[2015.04.24 @ 10:16] :: <i>Added champ selected template </i></p>
  <p class="lead">[2015.04.24 @ 09:29] :: <i>Created project using boom template </i></p>
</div>
