<div class="Home">
  <div class="landing text-center">
    <div class="landing-text">
      <h1>weeselect</h1>
      <p>'cuz random is 2 ez</p>
    </div>
    <p><a class="btn btn-primary btn-lg" href="/random" role="button">Start rolling</a></p>
  </div>

  <div class="container text-center">
    <h1 class="Home-title">Features</h1>
    <div class="row">
      <div class="col-md-4">
        <img class="Home-previews" src="http://media.tumblr.com/53d33d9da80afd93e6ac58f724d4864c/tumblr_inline_mker8fuFWY1qz4rgp.gif">
        <h2>Custom Pool</h2>
        <p>Pick from your own pool or make a custom one with your favorite champions :D</p>
      </div>
      <div class="col-md-4">
        <img class="Home-previews" src="http://fc02.deviantart.net/fs71/f/2012/326/4/4/my_little_viktor_by_antcity-d5lrrnn.png">
        <h2>Only pro builds</h2>
        <p>The picks in our database are made by the most experienced and  top-notch korean challenger players who know their shit pretty well <br/><br/>...or mobafire :^)</p>
      </div>
      <div class="col-md-4">
        <img class="Home-previews" src="http://th00.deviantart.net/fs71/PRE/i/2014/138/7/0/poro__braum_by_dukeofdunkshire-d7iv8ky.png">
        <h2>That's everything</h2>
        <p> For real, that's all the features!</p>
     </div>
  </div>
</div>
