<div class="ChampSelected container">
  <!-- Champ Description -->
  <h1 class="ChampSelected-champName center-text"> Aatrox </h1>
  <h4 class="ChampSelected-champTitle center-text"> the Darkin Blade </h4>
  <div class="col-xs-6 col-xs-offset-3 col-md-3 center">
    <a href="#" class="thumbnail">
      <img src="http://img2.wikia.nocookie.net/__cb20130617223509/leagueoflegends/images/thumb/1/18/Aatrox_OriginalLoading.jpg/110px-Aatrox_OriginalLoading.jpg">
    </a>
  </div>

  <!-- Build -->
  <div class="col-xs-12">
    <h3 class="ChampSelected-buildTitle center-text">ThatsNotMyPirate's Aatrox - Blade of Blood</h2>
    <ul class="list-unstyled">
      <li class="col-xs-4">
        <a href="" class="thumbnail">
          <img src="http://www.mobafire.com/images/item/mercurys-treads.gif" alt="Mercury's Treads">
        </a>
      </li>
      <li class="col-xs-4">
        <a href="" class="thumbnail">
          <img src="http://www.mobafire.com/images/item/spirit-visage.gif" alt="Spirit Visage">
        </a>
      </li>
      <li class="col-xs-4">
        <a href="#" class="thumbnail">
          <img src="http://www.mobafire.com/images/item/blade-of-the-ruined-king.gif" alt="Blade of the Ruined King">
        </a>
      </li>
      <li class="col-xs-4">
        <a href="" class="thumbnail">
          <img src="http://www.mobafire.com/images/item/randuins-omen.gif" alt="Randuin's Omens">
        </a>
      </li>
      <li class="col-xs-4">
        <a href="" class="thumbnail">
          <img src="http://www.mobafire.com/images/item/the-bloodthirster.gif" alt="The Bloodthirster">
        </a>
      </li>
      <li class="col-xs-4">
        <a href="" class="thumbnail">
          <img src="http://www.mobafire.com/images/item/last-whisper.gif" alt="Last Whisper">
        </a>
      </li>
    </ul>
  </div>

  <!-- Options -->
  <div class="ChampSelected-options col-xs-10 col-xs-offset-1">
    <button type="button" class="btn btn-primary btn-lg btn-block">
      Roll again
    </button>
    <button type="button" class="btn btn-default btn-lg btn-block">
      Change champ pool
    </button>
  </div>
</div>
