.ChampSelected-champName  { margin: 0; font-weight: bold; }
.ChampSelected-champTitle { margin-top: .2em;}

.ChampSelected-options { margin-top: .5em; }

.ChampSelected .thumbnail {
  margin: .2em 0em;
  padding: .2em .2em;
}
