<div class="ChampList fluid-container">
  <!-- Options -->
  <div class="options col-xs-10 col-sm-6 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
    <a role="button" ng-click="saveChamps()" href="/pick" class="save-button btn btn-primary btn-lg btn-block">
      Roll
    </a>

    <h3 class="text-center">Champion Pool</h3>

    <button type="button" class="btn btn-default btn-lg" ng-click="selectAll()">
      select all
    </button>
    <button type="button" class="btn btn-default btn-lg" ng-click="selectNone()">
      clear
    </button>
  </div>

  <!-- Champ List -->
  <ul class="list-unstyled col-xs-10 col-xs-offset-1">
    <li class="col-xs-2 col-sm-1"
        ng-repeat="champ in champs"
        ng-class="{selected: champ.selected}">
      <a ng-click="setActive($index)" class="thumbnail">
        <div class="overlay"></div>
        <img ng-src="{{champ.min}}" alt="{{champ.name}}">
      </a>
  </ul>
</div>
